# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
<<<<<<< HEAD
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.17.0
#    hooks:
#      - id: mypy
#        verbose: false
#        args: [--ignore-missing-imports]
=======
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        verbose: false
        args: [--ignore-missing-imports]
>>>>>>> 07a54f8 (build(pre-commit): update hooks)
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]
